@media only screen and (max-width: 1190px){
    .portfolioItems{
        max-width: 750px;
        width: 100%;
    }
}


@media only screen and (max-width: 1050px){
    #footer{
        display: grid;
        grid-template: 1fr 1fr/1fr 1fr;
    }
}





@media only screen and (max-width: 965px){
    .midContent img{
        max-width: 50%;
        width: 100%;
    }

    .midContent p{
        font-size: 1rem;
    }
    
}

@media only screen and (max-width: 920px){



    #hamburgerBtn{
        display: flex;
    }

    #navList{
        position: absolute;
        top: 0;
        left: -260px;
        max-width: 260px;
        width: 100%;
        flex-direction: column;
        background: rgba(0,0,0,0.9);
        margin: 0 !important;
        height: 2000%;
        z-index: 9;
        padding: 1rem;
        transition: 0.5s;
    }

    #overlayDark{
        z-index: 8;
    }

    #navList li{
        font-weight: 300 !important;
        margin: 1rem 0;
    }

    .midContent{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .midContent img{
        max-width: 540px;
        width: 100%;
    }
    .textMidContent{
        max-width: 500px;
    }

    .bottomContent{
        flex-direction: column;
    }
    .bottomItem{
        max-width: 540px;
        margin: 25px;
    }
    .imgContainer{
        height: 308px !important;
    }

    .numbers{
        max-width: 600px;
        display: grid;
        grid-template: 1fr 1fr /1fr 1fr;
    }

    .middleContent{
        width: 100%;
        background-color: white;
        flex-direction: column;

    }


    .about{
        max-width: 900px;
        width: 100%;
    }

    .firstLine{
        flex-direction: column;
        width: 100%;
    }

    .about input{
        max-width: 900px;
        width: 100% !important;
    }
    .map{
        max-width: 900px;
        width: 100%;
    }
    iframe{
        max-width: 900px;
        width: 100%;
    }

    .firstLine :nth-last-child(1){
        margin-left: 0px;
    }
    
    textarea{
        max-width: 900px;
    }
}


@media only screen and (max-width: 860px){


    .middleContent{
        width: 100%;
        background-color: white;
        flex-direction: column;

    }
}


@media only screen and (max-width: 830px){
    #navigationBar div{
        margin-left: 0.9rem !important;
        margin-right: 0.2rem !important;
    }

    #carouselTitle{
        font-size: 2.9rem !important;
    }


    

}





@media only screen and (max-width: 760px){


    #carouselTitle{
        font-size: 2rem !important;
    }
    #carouselBtn{
        width: 100px;
        height: 25px;
        font-size: 0.7rem !important;
    }

    #sideBtn button {
        width: 55px;
        height: 105px;
    }
    
    
    #sideBtn button ion-icon{
        color: rgba(180, 170, 170, 0.4);
        font-size: 40px;
        margin: 0;
    }

    .midContent{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .textMidContent{
        max-width: 500px;
    }



    .dealContainer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px;
    }
}

@media only screen and (max-width: 650px){
    #footer{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    #fAbout{
        padding: 0;
    }

    #fSubscribe{
        padding: 0;
    }
    #header{
        max-width: 650px !important;
        width: 100%;
    }

    
}

@media only screen and (max-width: 450px){
    .numbers{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }


    .numbers div{
        margin: 1rem 0;
    }
    


}