@media only screen and (max-width: 965px){
    .midContent img{
        max-width: 50%;
        width: 100%;
    }

    .midContent p{
        font-size: 1rem;
    }
    
}

@media only screen and (max-width: 920px){
    .midContent{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .midContent img{
        max-width: 540px;
        width: 100%;
    }
    .textMidContent{
        max-width: 500px;
    }
}



@media only screen and (max-width: 830px){
    #navigationBar div{
        margin-left: 0.9rem !important;
        margin-right: 0.2rem !important;
    }

    #carouselTitle{
        font-size: 2.9rem !important;
    }



    

}





@media only screen and (max-width: 760px){
    #hamburgerBtn{
        display: flex;
        margin-right: 1rem !important;
    }

    #navList{
        display: none !important;
    }
    #carouselTitle{
        font-size: 2rem !important;
    }
    #carouselBtn{
        width: 100px;
        height: 25px;
        font-size: 0.7rem !important;
    }

    #sideBtn button {
        width: 55px;
        height: 105px;
    }
    
    
    #sideBtn button ion-icon{
        color: rgba(180, 170, 170, 0.4);
        font-size: 40px;
        margin: 0;
    }

    .midContent{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .textMidContent{
        max-width: 500px;
    }

}