*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.carouselContainer{
    position: relative;
    width: 100%;
}


.carouselItem{
    display: none;
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-size: cover;
    background-position: center;
    transition: 0.5s ;
}

.carouselInnerContent{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#header {
    max-width: 100%;
    width: 100% !important; 
    height: 72px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    transition: 0.5s ease-in-out;
}

#navigationBar{
    max-width: 1800px;
}


#navigationBar div{
    cursor: pointer;
}

#navigationBar div:hover{
    color: white !important;
}

.navBarList li{
    cursor: pointer;
    color: white;
}


.navBarList li:hover{
    color:#198754;
}





.carouselItem div{
    background: rgba(0,0,0,0.6);
    color: white;
}

.carouselItem div p{
    max-width: 700px;
    width: 60%;
}

.carouselItem div h1{
    font-size: 4rem;
}

#carouselBtn{
    width: 200px;
    height: 50px;
    transition: 0.3s;
    
}

#carouselBtn:hover{
    color: #198754 !important;
    background-color:white !important;
}

.scrolled{
    background: rgba(0,0,0,0.8);
    height: 72px;
    padding-bottom: 6rem ;
    padding-top: 0.5rem;
}



#sideBtn{
    z-index: 9 ;
}

#sideBtn button {
    width: 85px;
    height: 155px;
}


#sideBtn button ion-icon{
    color: rgba(180, 170, 170, 0.4);
    font-size: 50px;
}


#sideBtn button ion-icon:hover{
    color: rgba(180, 170, 170, 0.9);
}



#hamburgerBtn{
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#top, #mid ,#bot{
    width: 20px;
    height: 2px;
    background-color: white;
    z-index: 8;
    border-radius: 5px;
    margin-bottom: 5px;
}


#botBtns{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    z-index: 8;
    padding: 1rem;
    z-index: 9;
}

#botBtns button{
    width: 40px;
    height: 3px;
    border: none;
    background-color: rgb(95, 95, 95);
    margin: 0.2rem;
    cursor: pointer;
}


.containerDef{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;

}


#aboutUs{
    width: 100% ;
    background-color: #F2F2F2;
    padding:3rem 0;
}


.dottedLine{
    width: 100px;
    display: flex;
    justify-content: space-between;
}


.lines{
    width: 10px;
    height: 4px;
    background: black;
    margin: 20px 1px;
}





.sectionHeader{
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}


.p-def{
    color: #656565;
    text-align: center;
}

.header-p{
    max-width: 100%;
    font-size: 1.1rem;
}



.greenBtn{
    background-color: #198754;
    color: white;
    height: 31px;
    max-width: 100px;
    width: 100%;
    border: none;
}

.greenBtn:hover{
    background-color: black;
    color: white;
}


.midContent{
    max-width: 1050px;
    display: flex;
    margin: 25px;
}

.textMidContent{
    padding-top: 2rem;
    margin-left: 1rem;
}

.textMidContent h1{
    color: #198754;
    cursor: pointer;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}



.textMidContent h1:hover{
    color: black;
}


.midContent img{
    max-width: 540px;
    width: 100%;

}

.midContent p{
    color:#8f8e8e;
    font-size: 1.1rem;
}

.bottomContent{
    max-width: 1050px !important;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottomItem{
    position: relative;
    max-width: 330px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 25px;
}

.imgContainer img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: 1;
}

.bottomItem h5{
    font-size: 20px;
    margin: 2rem;
}


.bottomItem p{
    color: #8f8e8e;
    margin: 0 2rem 1rem 2rem;
}

.bottomItem button{
    margin-bottom: 1.5rem;
}


.bottomItem:hover button{
    background: black;
    transition: 0.8s;
}

.bottomItem:hover .itemIcon{
    background: white;
}
.bottomItem:hover .itemIcon ion-icon{
    color: #198754;
    transition: 0.8s;
}



.itemIcon{
    position: absolute;
    bottom: -32px;
    left: calc(50% - 32px);
    width: 64px;
    height: 64px;
    background-color:#198754;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid white;
    z-index: 9;
}

.itemIcon ion-icon{
    font-size: 2rem;
    color: white;
}

.imgContainer{
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 55%; /* Adjust based on the aspect ratio you want (e.g., 75% for 4:3) */
    max-width: 100%;
    /* overflow: hidden; */
}




/* dynamic styles */


.carouselActive{
    display: flex !important;
    opacity: 1;
    transition: 0.5s;
}

.disabled{
    opacity: 0;
    transition: 0.5s;
}

.botBtnActive{
    background-color: white  !important;
}