*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.carouselContainer{
    position: relative;
    width: 100%;
}


.carouselItem{
    display: none;
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-size: cover;
    background-position: center;
    transition: 0.5s ;
}

.carouselInnerContent{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#header {
    max-width: 100%;
    width: 100% !important; 
    height: 72px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    transition: 0.5s ease-in-out;
}

#navigationBar{
    max-width: 1800px;
}


#navigationBar div{
    cursor: pointer;
}

#navigationBar div:hover{
    color: white !important;
}

.navBarList li{
    cursor: pointer;
    color: white;
}


.navBarList li:hover{
    color:#198754;
}





.carouselItem div{
    background: rgba(0,0,0,0.6);
    color: white;
}

.carouselItem div p{
    max-width: 700px;
    width: 60%;
}

.carouselItem div h1{
    font-size: 4rem;
}

#carouselBtn{
    width: 200px;
    height: 50px;
    transition: 0.3s;
    
}

#carouselBtn:hover{
    color: #198754 !important;
    background-color:white !important;
}

.scrolled{
    background: rgba(0,0,0,0.8);
    height: 72px;
    padding-bottom: 6rem ;
    padding-top: 0.5rem;
}



#sideBtn{
    z-index: 9 ;
}

#sideBtn button {
    width: 85px;
    height: 155px;
}


#sideBtn button ion-icon{
    color: rgba(180, 170, 170, 0.4);
    font-size: 50px;
}


#sideBtn button ion-icon:hover{
    color: rgba(180, 170, 170, 0.9);
}



#hamburgerBtn{
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#top, #mid ,#bot{
    width: 20px;
    height: 2px;
    background-color: white;
    z-index: 8;
    border-radius: 5px;
    margin-bottom: 5px;
}


#botBtns{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    z-index: 8;
    padding: 1rem;
    z-index: 9;
}

#botBtns button{
    width: 40px;
    height: 3px;
    border: none;
    background-color: rgb(95, 95, 95);
    margin: 0.2rem;
    cursor: pointer;
}


.containerDef{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;

}


#aboutUs{
    width: 100% ;
    background-color: #F2F2F2;
    padding:3rem 0;
}


.dottedLine{
    width: 100px;
    display: flex;
    justify-content: space-between;
}


.lines{
    width: 10px;
    height: 4px;
    background: black;
    margin: 20px 1px;
}





.sectionHeader{
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}


.p-def{
    color: #656565;
    text-align: center;
}

.header-p{
    max-width: 100%;
    font-size: 1.1rem;
}



.greenBtn{
    background-color: #198754;
    color: white;
    height: 31px;
    max-width: 100px;
    width: 100%;
    border: none;
}

.greenBtn:hover{
    background-color: black;
    color: white;
}


.midContent{
    max-width: 1050px;
    display: flex;
    margin: 25px;
}

.textMidContent{
    padding-top: 2rem;
    margin-left: 1rem;
}

.textMidContent h1{
    color: #198754;
    cursor: pointer;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}



.textMidContent h1:hover{
    color: black;
}


.midContent img{
    max-width: 540px;
    width: 100%;

}

.midContent p{
    color:#8f8e8e;
    font-size: 1.1rem;
}

.bottomContent{
    max-width: 1050px !important;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottomItem{
    position: relative;
    max-width: 330px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 25px;
}

.imgContainer img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: 1;
}

.bottomItem h5{
    font-size: 20px;
    margin: 2rem;
}


.bottomItem p{
    color: #8f8e8e;
    margin: 0 2rem 1rem 2rem;
}

.bottomItem button{
    margin-bottom: 1.5rem;
}


.bottomItem:hover button{
    background: black;
}

.bottomItem:hover .itemIcon{
    background: black;
}
.bottomItem:hover .itemIcon ion-icon{
    color: white;
    transition: 0.8s;
}



.itemIcon{
    position: absolute;
    bottom: -32px;
    left: calc(50% - 32px);
    width: 64px;
    height: 64px;
    background-color:#198754;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid white;
    z-index: 9;
}

.itemIcon ion-icon{
    font-size: 2rem;
    color: white;
}

.imgContainer{
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 55%; 
    max-width: 100%;

}

/* services */

#services{
    background: white;
    padding: 4rem;
}

.serviceList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.serviceItem{
    max-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.serviceItem h4{
    font-size: 1rem;
    margin: 0.7rem;

}

.serviceItem p{
    text-align: center;
    font-size: 1.1rem;
    color: rgb(139, 139, 139);
    margin: 0.7rem;
}

.serviceItem ion-icon{
    color: #198754;
    font-size: 4rem;
    font-weight: 200;
}

/* actionnn----------- */

#action{
    width: 100%;
    background-color: #1DBF73;
    color: white;
    padding: 2rem;
}

#green .lines{
    background-color: white;
}

#action p{
    color: white;
    width: 100%;
}

#action button{
    background-color: white;
    color: #1DBF73;
    width: 200px;
    height: 40px;
    border: none;
    transition: 0.3s;
}

#action button:hover{
    background-color: black;
    color: white;
    transition: 0.3s;
}



/* pricings styles */
#pricing{
    width: 100%;
    padding: 3rem 0;
}

.dealContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}


.dealItem{
    max-width: 380px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    margin: 2rem 1rem;
}

.dealItem h1{
    font-size: 30px;
    font-weight: 200;
}

.dealItem h2{
    font-size: 48px;
}

.dealItem h2 span{
    font-size: 24px;
}

.dealItem p{
    font-size: 12px;
    font-weight: 100;
}

.itemHeader{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #353535;
    color: white;
    padding: 1.4rem;
}

.dealItem ul{
    list-style: none;
    margin: 2rem 0.5rem;
    color: #656565;
    width: 100%;
}


.specialT{
    font-weight: 500;
}

.dealItem ul .g-icon{
    color: #1DBF73;
}
.dealItem ul .n-icon{
    color: red;
}

.dealItem ul li{
    font-size: 17px;
    margin: 0.7rem 0;
}


.dealItem button{
    font-size: 1rem;
    width: 140px;
    height: 44px;
    border: none;
    background-color: #353535;
    color: white;
}

.dealItem button:hover{
    background-color: #1DBF73;
}



.dealItem ul li ion-icon{
    margin-right: 0.2rem;
}



#middle .itemHeader{
    background-color: #1DBF73;
}

#middle button{
    background-color: #1DBF73;
}


#middle button:hover{
    background-color: #353535;
}

#middle{
    transform: translateY(-50px);
}


/* skills section */

#skills{
    background-color: white;
    max-width: 100%;
    width: 100%;
    padding: 2rem 3rem;
}

.diagrams{
    max-width: 1100px;
    width: 100%;
}



.html, .css , .jquery , .php{
    width: 100%;
    height: 35px;
    background-color: #E9ECEF;
    margin-bottom: 0.9rem;
    
}



.progres{
    width: 0%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0 1rem;
    
}

.progres h4{
    font-size: 16px;
    font-weight: 300;
    color: #E9ECEF;
}


#hBar{
    background-color: #28A745 !important;
    
}
#cBar{
    background-color: #17A2B8 !important;
    
}

#jBar{
    background-color: #FFC107 !important;
    
}

#pBar{
    background-color: #DC3545 !important;

}


.numbers{
    max-width: 1000px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
}

.numbers div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.numbers h1{
    color: #1DBF73;
    font-size: 60px;
}

.numbers h2{
    font-size: 18px;
    color: #504e4e;
    font-weight: 300;
}




/* foooter-------------- */
#footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color:#1DBF73 ;
    color: white;
    padding: 3rem;
}

.footerChild{
    width: 280px;
    height: 239px;
    margin: 0 0.6rem;
}


#logos{
    display: flex;
    margin-top: 1rem;
}

#fLine{
    justify-content: flex-start;
    width: 110px !important ;
    height: 5px !important;
    margin-bottom: 0.5rem;

}


#fLine .lines{
    background-color: white;
    width: 10px;
    height: 5px;
    margin: 0 1px;
}

#footer h1{
    font-size: 2rem;
}

#footer h4{
    font-size: 1rem;
}

#footer p {
    margin:0.1rem 0;
}

form{
    display: flex;
    justify-content: flex-start;
    margin-top: 0.5rem;
}

form button{
    background-color: #353535;
    color: white;
    height: 36px;
    width: 102px;
    border: none;
    margin: 0;
}

form input{
    height: 36px;
    width: 153px;
    margin: 0;
}


#logos a{
    color: #1DBF73;
    background-color: white;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 1rem;
    transition: 0.4s;
}

#logos a:hover{
    background-color: black;
    color: white;
}

.footerChild span{
    font-weight: 900;
}

.footerUl{
    padding: 0;
    list-style: none;
}

.footerUl li{
    border-bottom: 1px solid white;
    height: 30px;
    margin: 0.2rem 0;
}

.footerUl li ion-icon{
    font-size: 10px;
    margin-right: 4px;
}


.footerUl li a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
    font-weight: 300;
}

.footerUl li a:hover{
    color: black;
}

#fAbout{
    padding: 0 1.5rem;
}


#fSubscribe{
    padding-left: 22px;
}


/* dynamic styles */


.carouselActive{
    display: flex !important;
    opacity: 1;
    transition: 0.5s;
}

.disabled{
    opacity: 0;
    transition: 0.5s;
}

.botBtnActive{
    background-color: white  !important;
}


/* -----------contact us-------------------- */
#contact{
    width: 100%;
    padding: 2rem;
}

.middleContent{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.midCchild{
    max-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 1rem;
    margin: 0 1rem;
}

.midCchild ion-icon{
    font-size: 40px;
    color: #1DBF73;
    margin: 1rem 0;
}

.midCchild h3{
    font-size: 1rem;
}

.midCchild p{
    color: #656565;
}




@keyframes growGreen {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}
@keyframes growBlue {
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
@keyframes growYellow {
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
@keyframes growRed {
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}